.dark-mode {
    background-color: black;
    color: white;
    }
    .dark-mode #newGame {
        background-color: white;
    }
    .dark-mode #view{
        background-color: white;
    }
    .dark-mode #check{
        background-color: white;
    }
    .dark-mode #levelstatus{
        background-color: white;
    }
    .dark-mode #try{
        color: black;
    }
    .dark-mode td{
        border: 1px solid black;
        color:black;
        
    }
    .dark-mode #toggle-button{
        background-color:white;
    }